[submodule "py-substrate-interface"]
	path = py-substrate-interface
	url = https://github.com/polkascan/py-substrate-interface.git
[submodule "py-scale-codec"]
	path = py-scale-codec
	url = https://github.com/polkascan/py-scale-codec.git
